*.log
/*.log
*.json
/*.json
logs
out
images/products
tmp
.history
dist
/.idea
/*.iml
/out
/.idea
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
version.properties
/version.properties
log/**
archived/**
build.properties
resin-data/**
node_modules
credentials.properties
target
app_config.json
/src/main/resources/client_secret_node
/src/main/resources/app_config.json
catalog.xlsx
credentials
/.credentials
credentials/
StoredCredential
catalog.txt
prod/